.main {
	width: 100%;
	position: relative;
	z-index: 11;

	.group-titles {
		padding-top: 70px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		
		@media (max-width: 640px) {
			padding-top: 48px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	.heading-title {
		margin-top: 0;
		font-size: 46px;
		font-weight: 700;
		line-height: 56px;
		color: $white;

		@media (max-width: 640px) {
			font-size: 32px;
			text-align: center;
			line-height: 1.4;
		}
	}

	.decor-item {
		width: 100%;
		max-width: 360px;
		display: flex;
		flex-direction: column;

		@media (max-width: 640px) {
			max-width: 100%;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
		
		&__full-width {
			max-width: 100%;
		}
		
		.heading-title {
			padding-top: 16px;
		}
		
		&__title {
			display: inline-flex;
			align-items: center;
			font-size: 20px;
			color: $primary;
			font-weight: 700;
			line-height: normal;

			&:before {
				content: '';
				width: 100%;
				max-width: 50px;
				height: 1px;
				background: $primary;
				margin-right: 16px;

				@media (max-width: 640px) {
					display: none;
				}
			}
		}

		&__description {
			font-size: 16px;
			font-weight: 400;
			line-height: normal;
			color: $gray;
		}
	}

	.services {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 90px;
		padding-bottom: 140px;
		
		@media (max-width: 820px) {
			justify-content: center;
			margin-top: 32px;
			padding-bottom: 32px;
		}

		&-item {
			width: 100%;
			max-width: 360px;
			padding: 68px 25px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			background: $lightDark;
			border-bottom: 6px solid $primary;
			transition: transform 0.3s ease;

			@media (max-width: 820px) {
				padding: 40px 25px;
			}
			
			@media (max-width: 1108px) {
				max-width: 32%;
			}

			@media (max-width: 820px) {
				max-width: 66%;
				margin-bottom: 16px;
			}

			@media (max-width: 768px) {
				max-width: 100%;
			}
			
			&:hover {
				transform: translateY(-16px);
			}

			&__decor {
				margin-bottom: 60px;
				position: relative;

				@media (max-width: 768px) {
					margin-bottom: 32px;
				}

				&:after {
					content: '';
					width: 30px;
					height: 30px;
					position: absolute;
					z-index: 9;
					border-radius: 30px;
					background: $primary;
					bottom: -12px;
					right: -8px;
				}

				&:before {
					content: '';
					width: 30px;
					height: 30px;
					position: absolute;
					z-index: 9;
					border-radius: 30px;
					background: $primary;
					bottom: -12px;
					right: -8px;
					animation: pulse 2s infinite backwards;
					transform-origin: center;

					@keyframes pulse {
						from {
							opacity: 1;
							transform: scale(0);
						}
						to {
							opacity: 0;
							transform: scale(2);
						}
					}
				}
			}

			&__img {
				width: 100%;
				max-width: 41px;
				height: auto;
				position: relative;
				z-index: 10;
			}

			&__title {
				font-size: 26px;
				font-weight: 700;
				line-height: 32px;
				color: $white;
			}

			&__description {
				font-size: 16px;
				font-weight: 400;
				line-height: normal;
				color: $gray;
			}
		}
	}
	
	.projects {
		background: $lightDark;
		padding-top: 100px;
		padding-bottom: 128px;

		@media (max-width: 640px) {
			padding-top: 32px;
			padding-bottom: 32px;
		}
		
		&-list {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			padding-top: 90px;

			@media (max-width: 640px) {
				padding-top: 8px;
			}
		}
		
		&-item {
			width: 100%;
			max-width: 550px;
			text-decoration: none;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-bottom: 48px;
			
			@media (max-width: 1140px) {
				max-width: 48%;
			}

			@media (max-width: 640px) {
				max-width: 100%;
			}
			
			&:nth-child(odd) {
				margin-right: auto;
			}
			
			&:last-child {
				margin-bottom: 0;
			}
			
			&__img {
				width: 100%;
				margin-bottom: 38px;
				
				img {
					width: 100%;
					filter: grayscale(1);
					transition: transform 0.3s ease;

					@media (max-width: 640px) {
						filter: grayscale(0);
					}
				}
				
				&:hover {
					img {
						filter: grayscale(0);
					}
				}
			}
			
			&__title {
				font-size: 28px;
				font-weight: 700;
				line-height: 32px;
				color: $white;
				padding-bottom: 16px;
			}
			
			&__link {
				display: inline-flex;
				font-size: 20px;
				color: $primary;
				font-weight: 500;
				line-height: normal;
				
				img {
					width: 24px;
					margin-left: 10px;
				}
			}
		}
	}
	
	.testimonials {
		padding-top: 140px;
		padding-bottom: 140px;

		@media (max-width: 640px) {
			padding-top: 32px;
			padding-bottom: 32px;
		}
		
		.owl-nav {
			width: 100%;
			position: absolute;
			display: flex;
			justify-content: space-between;
			align-items: center;
			top: 50%;
			margin-top: 0;

			@media (max-width: 640px) {
				display: none;
			}
		}
		
		.owl-prev {
			width: 24px;
			height: 24px;
			display: block;
			span {
				display: none;
			}
		}
		
		.owl-next {
			width: 24px;
			height: 24px;
			display: block;
			transform: rotateZ(180deg) !important;
			
			span {
				display: none;
			}
		}
		
		&-slider {
			width: 100%;
			margin-top: 90px;

			@media (max-width: 640px) {
				margin-top: 16px;
			}
			
			.owl-item {
				display: flex;
				justify-content: center;
			}
			
			.owl-stage {
				@media (max-width: 640px) {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}

			&__item {
				width: 100%;
				max-width: 555px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				&-description {
					text-align: center;
					color: $gray;
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: 28px;
					padding: 0;
					margin-bottom: 38px;
				}
				
				&-author {
					color: $white;
					text-align: center;
					font-size: 20px;
					font-style: normal;
					font-weight: 600;
					line-height: 28px;
				}
			}
		}
	}
	
	.banner {
		position: relative;
		background: $deepGray;
		padding: 63px 16px;

		@media (max-width: 640px) {
			padding-top: 32px;
			padding-bottom: 40px;
		}
		
		.btn-contact {
			font-size: 18px;
			font-weight: 700;
			line-height: 18px;
			padding: 18px 28px;
			color: $white;
			background: $primary;
			text-decoration: none;
			margin-right: 38px;
			border: 1px solid $primary;
			transition: all .3s ease-in-out;

			@media (max-width: 820px) {
				margin-right: 0;
			}


			&:hover {
				color: $white;
				background: $primary;

				@media (max-width: 820px) {
					margin-right: 0;
				}
			}
		}
		
		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			
			@media (max-width: 820px) {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
			}

			@media (max-width: 640px) {
				justify-content: center;
				align-items: center;
			}
		}
		
		&:before {
			content: "";
			width: 4px;
			min-height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: $primary;
		}
		
		.info-group {
			
			.heading-title {
				margin-bottom: 16px;
			}
			
			&__description {
				font-size: 16px;
				font-weight: 400;
				line-height: 28px;
				color: $gray;

				@media (max-width: 640px) {
					text-align: center;
				}
			}
		}
	}
}